* {
    box-sizing: border-box;
}
html, body {
    background-color: #fff;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
header, footer {
    background-color: #FB9AAC;
    width: auto;
    height: auto;
}
p.logo {
color: #fff;
font-family: 'Pacifico', cursive;
font-size: 44px;
display: inline-block;
}
.logo2 {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}
nav {
display: inline-block;
vertical-align: top;
}
a {
    text-decoration: none;
    color: #fff;
}

/*footer*/
input.email {
    display: block;
}