* {
    box-sizing: border-box;
}
html, body {
    background-color: #fff;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 100px;
}
p.logo {
color: #fdb7c2;
font-family: 'Pacifico', cursive;
font-size: 52px;
display: inline-block;
}
nav {
display: inline-block;
}
a {
    text-decoration: none;
}
.welcome-text {
    width: 50%;
    height: 100vh;
    background-color: #fdb7c2;
    color:#fff;
    font-size: 30px;
    font-family: Verdana, sans-serif;
}
.instagram, .facebook, .twitter {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
}

/*footer*/
footer {
    background-color: #fdb7c2;
    width: auto;
    height: auto;
}
input.email {
    display: block;
}
.logo2 {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 26px;
}