* {
    box-sizing: border-box;
}
html, body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 100px;
}
.logo {
color: #fdb7c2;
font-family: 'Anton', sans-serif;
font-size: 52px;
display: inline-block;
}
.header-nav div {
display: inline-block;
}
.welcome-text {
    width: 50%;
    height: 100vh;
    background-color: #fdb7c2;
    color:#fff;
    font-size: 30px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    padding: 12rem 1rem;
}
.shop-button {
  background-color: #fff;
  width: 15rem;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid #fdb7c2;
  margin: 0.3rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-variant: small-caps;
  font-family: 'open sans', sans-serif;
}
.shop-button:hover {
  background-color: #fdb7c2;
  border: 1px solid #000;
}

/*footer*/
footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 1rem;
}
.footer-top {
  background-color: #fdb7c2;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}
input.email {
    display: block;
    margin: 1rem auto;
    width: 20rem;
    height: 2.3rem;
    border-style: none;
    border-bottom: 1px solid #000;
    background-color: #fdb7c2;
    color: #000;
}
.subscribe-button {
  background-color: #fff;
  width: 7rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #fdb7c2;
  margin: 0.3rem 0;
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
  font-family: 'open sans', sans-serif;
}
.subscribe-button:hover {
  background-color: #fdb7c2;
  border: 1px solid #000;
}
.button-facebook,
.button-twitter,
.button-instagram {
  margin: 2rem 1rem 2rem 0;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram {
  background: #d6240f;
  background: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-envelope {
  color: #00a4ef;
}
.fa-whatsapp {
  color: #25d366;
}
i:hover {
  opacity: 0.5;
}
.links a {
  display: block;
  text-align: justify;
  margin-top: 0.5rem;
}
.button-email, .button-whatsapp {
  display: block;
  margin: 1rem 0;
  text-align: justify;
}
.logo2 {
    color: #fdb7c2;
    font-family: 'Anton', sans-serif;
    font-size: 26px;
}
select {
  width: 18rem;
  height: 2rem;
  border-style: none;
  border-bottom: 1px solid #000;
  background-color: #fff;
  color: #000;
}
li {
  list-style-type: none;
  display: inline;
}
li img {
  width: 28px;
  height: 28px;
}